.App {
  text-align: center;
}
/* globales */
img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem 0 1.3rem;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }
}

.logo {
  width: 15rem;
}

.logo img {
  border-radius: 50%;
}

/* navegacion */

.navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlaces {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .enlaces {
    flex-direction: row;
  }
}

.navegacion ul li {
  font-size: 1.3rem;
}

.submenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.4rem;
  position: absolute;
  z-index: 10;
  width: 12rem;
  height: 1rem;
  right: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  margin-top: 1rem;
  -webkit-box-shadow: -4px 2px 12px -3px rgba(51, 51, 3, 1);
  -moz-box-shadow: -4px 2px 12px -3px rgba(51, 51, 3, 1);
  box-shadow: -4px 2px 12px -3px rgba(51, 51, 3, 1);

  transition: ease-in 300ms;
  border-radius: 0.1rem;
  background-color: white;
}

.Item-submenu a {
  color: black;
  display: inline-block;
  margin-bottom: 1rem;
}

.item {
  padding: 0.2rem;
  color: blue;
  position: relative;
}

.item:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: blue;
  transition: all 0.3s;
}

.item:hover:before {
  width: 100%;
}
.Item-submenu {
  visibility: hidden;
}

.cat {
  cursor: pointer;
}

.cat:hover .submenu,
.Item-submenu {
  visibility: visible;
  opacity: 1;
  height: 15rem;
}

.cart {
  width: 2rem;
}

/* contenedor */
.contenedor {
  width: 95%;
  margin: 3rem auto 3rem auto;
}

.productos {
  width: 95%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* banner */

.banner {
  width: 70rem;
  height: 35rem;
  margin: 0 auto;
}
.banner img {
  border-radius: 1rem;
}

/* cards */

.card {
  width: 18rem;

  padding: 1rem;
  -webkit-box-shadow: -1px 6px 21px 0px rgba(51, 51, 3, 1);
  -moz-box-shadow: -1px 6px 21px 0px rgba(51, 51, 3, 1);
  box-shadow: -1px 6px 21px 0px rgba(51, 51, 3, 1);
}

.header-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-card img {
  width: 15rem;
  height: 15rem;
}

.name {
  text-transform: uppercase;
  font-weight: bold;
}

.price {
  color: green;
}

/* ItemCount */

.count {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.count-button {
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.mas {
  color: green;
}

.menos {
  color: red;
}

/* Item detail  */

.itemdetail {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 3rem auto;

  padding: 1.3rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: -1px 6px 21px 0px rgba(51, 51, 3, 1);
  -moz-box-shadow: -1px 6px 21px 0px rgba(51, 51, 3, 1);
  box-shadow: -1px 6px 21px 0px rgba(51, 51, 3, 1);
}

.itemImage {
  width: 80%;
}

.itemInfo {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.success {
  width: 10rem;
}

.alert {
  color: red;
  border: 1px solid red;
  padding: 1.2rem;
}

/* footer */

.footer {
  background-color: #004aad;
  padding: 1.3rem;
  margin-top: 3rem;
  color: white;
}
